
@model MVCFinal.Models.ETable

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Find</title>
</head>
<body>
    <h1>Details of the Employee </h1>
    <div>
        @using (Html.BeginForm())
        {
            <p>
                Enter the EmpID: @Html.EditorFor((m) => m.ID)
            </p>
            <p>
                Enter the Name: @Html.EditorFor((m) => m.Name)
            </p>
            <p>
                Enter the Address: @Html.EditorFor((m) => m.Address)
            </p>
            <p>
                Enter the Salary: @Html.EditorFor((m) => m.Salary)
            </p>
            <button>SAVE</button>
        }
    </div>
</body>
</html>

